@font-face {
  font-family: 'Fyodor';
  src: url('fyodor.bold-condensed.ttf');
}

body {
  font-family: 'Fyodor';
  color: black;
  background-color: #FAE500;
}

p {
  margin-top: 20px;
  font-size: 2rem;
  text-align: center;
}
