@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  font-family: 'Silom';
  color: black;
  background-color: #FAE500;
}

p {
  margin-top: 20px;
  text-align: center;
}
